<div class="reply-summary">
  You're editing your reply to a post made by <%= name(@reply.parent.user) %> in
  <strong><%= @reply.original_post.title %></strong>.
</div>

<%= render partial: 'form' %>
