.tools {
  @include on-desktop {
    display: flex;
  }
}

.tools__back {
  display: none;
  margin-bottom: 20px;

  @include on-tablet-and-mobile {
    display: block;
  }
}

.tool-list {
  @include on-desktop {
    width: 50%;
  }

  @include on-tablet-and-mobile {
    display: none;
  }
}

.tool-list--products {
  @include on-desktop {
    margin-left: 20px;
  }
}

.tool-list--active {
  display: block;
}
