<div class="profile">
  <div class="profile__image">
    <img src="<%= @user.image %>">
  </div>

  <div class="profile__name"><%= @user.name %></div>
  <div class="profile__location"><%= @user.location %></div>
  <div class="profile__bio"><%= @user.bio %></div>
</div>
