<%= render partial: 'post', object: @post %>

<div class="replies">
  <% @post.replies.each do |post| %>
    <%= render 'reply', post: post, depth: 0 %>
  <% end %>

  <% unless @post.replies.any? %>
    <div class="empty">
      <div class="empty__icon">
        <i class="fa fa-thumbs-down"></i>
      </div>

      <p class="empty__description">Nobody's replied to this just yet.</p>

      <% if user_signed_in? %>
        <%= link_to 'Start the conversation', reply_path(@post), class: 'button button--primary'  %>
      <% end %>
    </div>
  <% end %>
</div>
