.ad {
  border: 1px #ddd solid;
  border-bottom-width: 2px;
  border-radius: 5px;
  padding: 14px 20px;
  margin-left: 20px;
}

.ad__title {
  text-transform: uppercase;
  font-weight: bold;
}

.ad__description {
  margin: 0 0 10px;
  color: #555;
}
