.form-control {
  margin-bottom: 12px;
}

.form-control__label {
  font-weight: bold;
  display: block;
}

.form-control__input {
  width: 100%;
  display: block;
  padding: 10px 14px;
  font-size: inherit;
  font-family: inherit;
  border: 1px #ccc solid;
  border-radius: 3px;
}
