.intro {
  padding: 25px 0;
  border-top: 1px #eee solid;
  border-bottom: 1px #eee solid;
  margin: 20px 0;
  text-align: center;

  @include on-mobile {
    font-size: .95rem;
  }
}

.intro__segment {
  margin: 0 auto 10px;
  width: 75%;
  font-weight: 300;

  @include on-mobile {
    width: auto;
  }
}
