.post-detail {
  margin-bottom: 12px;
}

.post-detail__title {
  font-weight: bold;
  font-size: 2rem;
}

.post-content {
  background: #eee;
  padding: 12px 20px;
  border-radius: 3px;
  display: flex;
  align-items: stretch;
}

.post-user {
  text-align: center;
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px #ddd solid;
  width: 200px;
}

.post-user__image {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 8px auto 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.post-body {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  flex: 1 0 0;
}

.post-body__text,
.post-actions {
  width: 100%;
}

.post-actions {
  margin-top: auto;
  color: #999;
  display: flex;
  align-items: center;
}

.post-actions__timestamp {
  font-size: 0.8rem;
  flex: 1 0 0;
}
