.post-detail {
  margin-bottom: 12px;
}

.post-detail__title {
  font-weight: bold;
  font-size: 2rem;
}

.post-content {
  background: #eee;
  padding: 14px 22px;
  border-radius: 3px;
  display: flex;
  align-items: stretch;

  @include on-mobile {
    display: block;
  }
}

@for $depth from 1 through 5 {
  .post-content--depth-#{$depth} {
    margin-left: 50px * $depth;

    @include on-tablet {
      margin-left: 25px * $depth;
    }

    @include on-mobile {
      margin-left: 10px * $depth;
    }
  }
}

.post-user {
  text-align: center;
  padding-right: 16px;
  margin-right: 16px;
  border-right: 1px #ddd solid;
  width: 200px;

  @include on-mobile {
    border-right: none;
    border-bottom: 1px #ddd solid;
    padding-right: 0;
    margin-right: 0;
    padding-bottom: 6px;
    margin-bottom: 3px;
    width: 100%;
    display: flex;
  }
}

.post-user__image {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin: 8px auto 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include on-mobile {
    margin: 0 0 0 auto;
    width: 24px;
    height: 24px;
  }
}

.post-body {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  flex: 1 0 0;
}

.post-body__text,
.post-actions {
  width: 100%;
}

.post-actions {
  margin-top: auto;
  color: #999;
  display: flex;
  align-items: center;
}

.post-actions__timestamp {
  font-size: 0.8rem;
  flex: 1 0 0;
}
