.profile {
  text-align: center;
}

.profile__name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

.profile__location {
  color: #aaa;
  font-style: italic;
}

.profile__bio {
  margin-top: 20px;
}
