.tool {
  background: #eee;
  border-radius: 5px;
  display: block;
  margin-bottom: 12px;
  padding: 20px 28px;
  position: relative;
  text-decoration: none;
  transition: 0.1s ease background;

  &:hover:not(.tool--selected):not(.tool--promoted) {
    background: darken(#eee, 5%);
  }
}

.tool--selected {
  background: #92cf10;
}

.tool--promoted {
  background: #fff;
  background-image: asset-url('promoted-wedge.png');
  background-repeat: no-repeat;
  background-size: 48px 46px;
  border: 8px #ffca26 solid;
}

.tool__favorited {
  float: right;
  margin-top: 7px;
}

.tool__title {
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;

  .tool--selected & {
    color: #fff;
  }
}

.tool__description {
  color: #666;
  margin-top: 6px;
}

.tool__favorited,
.tool__title,
.tool__description {
  @include on-desktop {
    transition: .1s ease all;

    .tool--actionable:hover & {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.tool__actions {
  display: flex;

  :last-child {
    margin-left: 15px;
  }

  @include on-desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .1s ease all;

    .tool--actionable:hover & {
      opacity: 1;
      visibility: visible;
    }
  }

  @include on-tablet-and-mobile {
    margin-top: 6px;
  }

  @include on-mobile {
    // This is shit
    > a {
      flex-grow: 1;
    }
  }
}
