$container-width: 1200px;
$desktop-breakpoint: $container-width;
$tablet-breakpoint: 768px;

@import 'mixins/responsive';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  font: 16px/1.6 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: $container-width;

  @include on-tablet-and-mobile {
    width: initial;
  }

  @include on-tablet {
    margin: 0 20px;
  }
}


.page {
  padding: 25px 0;

  @include on-mobile {
    padding: 25px 20px;
  }
}

@import 'pages/tools';
@import 'components/header';
@import 'components/intro';
@import 'components/empty';
@import 'components/tool';
@import 'components/button';
